.scform-ctr {
  max-width: 550px;
}

.add-phase-btn-ctr {
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 0;
  margin: 0;
}

.add-phase-btn-ctr .add-phase-tooltip-text {
  visibility: hidden;
  position: absolute;
  background-color: var(--gray-dark);
  color: var(--white);
  border-radius: 6px;
  padding: 5px;
  z-index: 1;
  top: -90%;
  max-width: 58px;
  font-size: 0.75rem;
}

.add-phase-btn-ctr:hover .add-phase-tooltip-text {
  visibility: visible;
}

.add-phase-btn-ctr svg {
  cursor: pointer;
  transition: 0.25s ease-in 0.125s;
}

.add-phase-btn-ctr svg:hover {
  transition: 0.25s ease-out 0.125s;
  fill: var(--white);
  stroke: var(--white);
  background-color: var(--primary);
  border-radius: 50%;
}

.row .separator {
  width: 95%;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .add-phase-btn-ctr .add-phase-tooltip-text {
    top: -22%;
  }
}
